<h1>Tipos Cadastrados</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="text-align: center;" width=80%>Tipo</th>    
      <th colspan="2" style="text-align: center;">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @tipos.each do |tipo| %>
    <tr>
      <td width=80%><%= tipo.tipo %></td>
      <% if current_usuario.admin? %>
      <td style="text-align: center;"><%= link_to 'Editar', edit_tipo_path(tipo) %></td>
      <td style="text-align: center;"><%= link_to 'Excluir', tipo, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

