<p id="notice"><%= notice %></p>

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">X</span>
    <%= @tipo.tipo %>
  </li>
</ul>

<%= link_to 'Edit', edit_tipo_path(@tipo) %> |
<%= link_to 'Back', tipos_path %>
