<% if current_usuario.admin? %>

<table width = 50% align = center>
	<tr>
		<td>
			<center><h1>Novo produto</h1></center>
			<br>
			<%= render 'form' %>
		</td>
	</tr>
</table>

<% else %>
<center>
<h3>Você não tem permissão para cadastrar novos produtos.<br>
Clique <%= link_to 'aqui', produtos_path %> para voltar a lista de produtos cadastrados.</h3>
</center>
<% end %>